---
title: Home
no_date: true
---
{% include top.html %}
<style>
  .navbar {
    margin-bottom: 0px;
  }
</style>
<meta name="google-site-verification" content="ybqGQF8Gh-nDnuN9jl9-fJOmtwr85k2Xi_oFCfi9Ft8" />
</head>
<body>
  {% include header.html %}

  <div id="front-page-banner" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{{ site.baseurl }}/images/logo-frontpage.png"/>
        </div>
        <div id="front-page-blurb" class="col-md-6">
          <h1>Candlepin</h1>
          <h2>Subscription and Entitlement Management<br/>all open source</h2>
        </div>
      </div> <!-- End row -->
    </div> <!-- End container -->
  </div> <!-- End Jumbotron -->

  <div id="front-page-lower" class="container-fluid">
    <div class="row">

      <div class="front-column col-xs-12 col-md-4">
        {% capture what_is_link %}{{ site.baseurl }}/docs/candlepin/overview.html{% endcapture %}
        <h3>
          <a href="{{ what_is_link }}" role="button">What is Candlepin?</a>
        </h3>
        <p>
          Candlepin is a collection of tools which allow companies to manage
          software subscriptions. The subscriptions allow users to access
          provided content over secure connections.
        </p>
        <a class="more-link" href="{{ what_is_link }}">More</a>
      </div>

      <div class="front-column col-xs-12 col-md-4">
        {% capture features_link %}{{ site.baseurl }}/docs/candlepin/developer_notes.html{% endcapture %}
        <h3>
          <a href="{{ features_link }}" role="button">Features</a>
        </h3>
        <ul>
          <li>is open source</li>
          <li>is written in Java with Ruby bindings</li>
          <li>is part of <a href="http://www.katello.org">Katello</a></li>
        </ul>
        <a class="more-link" href="{{ features_link }}">More</a>
      </div>

      <div id="news" class="front-column col-xs-12 col-md-4">
        {% capture news_link %}{{ site.baseurl }}/news{% endcapture %}
        <h3>
          <a href="{{ news_link }}" role="button">News</a>
        </h3>
        <ul>
          {% for post in site.posts limit: 4 %}
            {% capture post_id %}{{ post.id | replace_first: '/', '' | replace: '/', '-'}}{% endcapture %}
            <li>{{ post.date | date: "%-d %B %Y" }} - <a href="{{ site.baseurl }}/news/index.html#{{ post_id }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        <a class="more-link" href="{{ news_link }}">More</a>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include bootstrap.html %}
</body>
</html>
