---
title: What's new on candlepinproject.org?
layout: default
no_date: true
---

<!--
  If a page shouldn't appear in this list, add "no_date: true" to that page's YAML front-matter.
-->
<div>
  <h2 class="text-center">Recently Changed Pages</h2>
</div>
<div id="whats-new">
{% for page in site.data.new_pages %}
  {% capture current_page_date %}{{ page.date_modified | date: "%-d %B %Y" }}{% endcapture %}
  {% if current_page_date != prev_page_date %}
    {% unless forloop.first %}
      </ul>
    {% endunless %}
    <h3>{{ current_page_date }}</h3>
    <ul>
    {% capture prev_page_date %}{{ current_page_date }}{% endcapture %}
  {% endif %}
  <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}
</div>
