<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        &copy; {{ site.time | date: "%Y"}} Red Hat, Inc;
        Code under <a href="http://www.gnu.org/licenses/gpl-2.0.html">GPLv2</a>;
        Docs under <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
      </div>
      <div class="col-md-5" id="openshift-logo">
        <a href="https://www.openshift.com/" title="Powered by OpenShift Online">
          <img class="center-block pull-right" alt="Powered by OpenShift Online" src="{{ site.baseurl }}/images/powered_by_openshift_reverse.png">
        </a>
      </div>
    </div>
  </div>
</footer>
