<header>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#candlepin-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/logo-header.png" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="candlepin-navbar">
      <ul class="nav navbar-nav">
        {% assign overview_page = 'docs/candlepin/overview.html' %}
        <li class="{% if page.url contains overview_page %}active{% endif %}">
          <a href="{{ site.baseurl }}/{{ overview_page }}">About</a>
        </li>
        <li class="{% if page.url contains '/news/' %}active{% endif %}">
          <a href="{{ site.baseurl }}/news/">News</a>
        </li>
        <!-- Liquid doesn't appear to have a negation operator -->
        <li class="{% unless page.url contains overview_page %}{% if page.url contains '/docs/' %}active{% endif %}{% endunless %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/docs/candlepin">Candlepin</a></li>
            <li><a href="{{ site.baseurl }}/docs/subscription-manager">Subscription Manager</a></li>
            <li><a href="{{ site.baseurl }}/docs/gutterball">Gutterball</a></li>
            <li><a href="{{ site.baseurl }}/docs/thumbslug">Thumbslug</a></li>
          </ul>
        </li>
        <li class="{% if page.url contains 'contact_us.html' %}active{% endif %}">
          <a href="{{ site.baseurl }}/administrative/contact_us.html">Contact Us</a>
        </li>
        <li class="">
          <a href="{{ site.repository }}">View on GitHub</a>
        </li>
      </ul>
      <div id="gcse" class="navbar-right">
        {% include search.html %}
      </div>
    </div>
  </div>
</nav>
</header>
