<!-- Requires JQuery loaded! -->
<script type="text/javascript">
  var plus = "glyphicon-plus";
  var minus = "glyphicon-minus";
  var glyph = "glyphicon";
  // Which level should be collapsed by default
  var default_level_collapse = 2;

  $(function() {
    var lev3_items = $("li[data-level]").filter(
      function() {
        // Close all subsections that are on level > default_level_collapse
        return $(this).attr("data-level") > default_level_collapse;
    });

    // 0 means slide up quickly :-)
    lev3_items.slideUp(0);

    $("span.hide_link").addClass(glyph);
    // Set all hide_links to 'minus' by default
    $("span.hide_link").addClass(minus);

    // Set all hide links on levels below default_level_collapse to plus
    var lev2_hide_links = "li[data-level = '" + default_level_collapse + "'] > span.hide_link";
    $(lev2_hide_links).removeClass(minus).addClass(plus);
  });

  $(".hide_link").click(
    function(event) {
      // Class of wrapper div.
      $this_level_class = $(this).parent().attr('class');
      var sublevels = "li[class*='" + $this_level_class + ".']";
      var sublevels_hide_links = "li[class*='" + $this_level_class + ".'] > span.hide_link";

      if ($(this).hasClass(plus)) {
        $(this).removeClass(plus);
        $(this).addClass(minus);
        $(sublevels).slideDown();
        // when sliding down, we always have to change the hide_links to minus
        $(sublevels_hide_links).removeClass(plus);
        $(sublevels_hide_links).addClass(minus);
      }
      else {
        $(this).removeClass(minus);
        $(this).addClass(plus);
        $(sublevels).slideUp();
      }
    });
</script>
