<!-- See https://developers.google.com/custom-search/docs/element -->
<script>
  (function() {
    var cx = '001764363617079502691:0nkhox7d8po';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only gname="candlepinproject.org"
  enableAutoComplete="true"
  autoCompleteMaxCompletions="5"
  enableHistory="true"
/>
