<h2>Table of Contents</h2>

{% assign depth = 1 %}
<ul class="outline-numbered">
{% for tocitem in tocitems %}
  {% comment %}
  Depth should always increase by ones, but can decrease by an arbitrary
  amount.  If depth has increased, we need to increment our depth counter and
  open an unordered list.  If depth has decreased, we need to close all the open
  lists (depth - current_depth) and reset the depth counter to the current
  depth.  On the last iteration, we close up all the unordered list tags.

  The semantics here are flawed.  Ideally, each unordered list should be nested
  inside the list item that announces it.  Instead each unordered lists are the
  next sibling of the list item that announces it.  Unfortunately, creating
  the nested structure is a lot more difficult especially since the logical
  operations available in Liquid are very limited.
  {% endcomment %}
  {% if depth < tocitem.level %}
    {% assign depth = depth | plus: 1 %}
    <ul class="outline-numbered">
  {% endif %}
  {% if depth > tocitem.level %}
    {% capture diff %}{{ depth | minus: tocitem.level }}{% endcapture %}
    {% for t in (1..diff) %}
      </ul>
    {% endfor %}
    {% assign depth = tocitem.level %}
  {% endif %}
  <li data-level="{{tocitem.level}}" class="tocitem section-{{tocitem.number}}">
    {{ tocitem.number }}
    {% if tocitem.has_sublevels %}
      <span class="hide_link toc-icon"></span>
    {% endif %}
    <a href="{{ site.baseurl }}{{ tocitem.link }}.html">{{tocitem.name}}</a>
  </li>
  {% if forloop.last %}
    {% for t in (1..depth) %}
      </ul>
    {% endfor %}
  {% endif %}
{% endfor %}

<h4>Uncategorized</h4>
<ul>
{% for u in uncategorized %}
  <li><a href="{{ site.baseurl }}{{ u.link }}.html">{{ u.name }}</a></li>
{% endfor %}
</ul>
